<div class="jumbotron">
  <h1 class="display-4">Welcome to Sachin's School!</h1>
  <hr class="my-4">

  <a class="btn btn-primary btn-lg" href="/admin/login" role="button">Admin Login</a><br>
  <a class="btn btn-primary btn-lg" href="/teacher/login" role="button">Teacher Login</a><br>
  <a class="btn btn-primary btn-lg" href="/student/login" role="button">Student Login</a>
</div>